
*.vsidx

Zen/.vs/Zen/CopilotIndices/17.14.1368.60722/CodeChunks.db-wal

Zen/Assets/Zen Game Assets/Meshs/statue/texture/statue_low_Material.001_Normal.png

Zen/Assets/Zen Game Assets/Meshs/stone floor/M_stone floor.mat

Zen/Assets/Zen Game Assets/Meshs/stone floor/textures/moss covered/stone floor_DefaultMaterial_BaseMap.png

Zen/Assets/Zen Game Assets/Meshs/stone floor/textures/moss covered/stone floor_DefaultMaterial_MaskMap.png

Zen/Assets/Zen Game Assets/Meshs/stone floor/textures/moss covered/stone floor_DefaultMaterial_Normal.png

Zen/Assets/Zen Game Assets/Meshs/stone floor/textures/stone floor_DefaultMaterial_BaseMap.png

Zen/Assets/Zen Game Assets/Meshs/stone floor/textures/stone floor_DefaultMaterial_MaskMap.png

Zen/Assets/Zen Game Assets/Meshs/stone floor/textures/stone floor_DefaultMaterial_Normal.png

Zen/Assets/Zen Game Assets/Scenes/Map Graybox/Lightmap-0_comp_dir.png

Zen/Assets/Zen Game Assets/Textures/terrain/Combine_Out.png

Zen/Assets/Zen Game Assets/Textures/terrain/Lake_Depth.png

Zen/Assets/Zen Game Assets/Textures/terrain/Lake_Out.png

Zen/Assets/Zen Game Assets/Textures/terrain/Lake_Shore.png

Zen/Assets/Zen Game Assets/Textures/terrain/Lake_Surface.png

Zen/Assets/Zen Game Assets/Textures/terrain/Lake_Water.png

Zen/Assets/Zen Game Assets/Textures/terrain/Snow_Depth.png

Zen/Assets/Zen Game Assets/Textures/terrain/Snow_Hard.png

Zen/Assets/Zen Game Assets/Textures/terrain/Snow_Out.png

Zen/Assets/Zen Game Assets/Textures/terrain/Snow_Snow.png
